* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./assets/images/bg.png") #302e2e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --yellow: #ffc500;
}

.MuiTimelineItem-missingOppositeContent::before {
  display: none;
}
.active {
  color: #e6b000 !important;
}
.alert-enter {
  opacity: 0 !important;
  transform: scale(0.9) !important;
}
.alert-enter-active {
  opacity: 1 !important;
  transform: translateX(0) !important;
  transition: opacity 500ms, transform 500ms !important;
}
.alert-exit {
  opacity: 1 !important;
}
.alert-exit-active {
  opacity: 0 !important;
  transform: scale(0.9) !important;
  transition: opacity 500ms, transform 500ms !important;
}
